In [1]:
## Importing standard modules
import pandas as pd
import numpy as np

from datetime import date

import seaborn as sns
import matplotlib.pyplot as plt

import os
import sys

import electric_insights_scraper as EI

In [6]:
df_EI = pd.DataFrame()

for year in range(2009, 2019):
    start_date = date(year, 1, 1)
    end_date = date(year, 12, 31)

    df_EI_year = EI.date_range_to_proc_EI_df(start_date, end_date)
    df_EI = df_EI.append(df_EI_year)
   
df_EI = df_EI.append(EI.date_range_to_proc_EI_df(date(2019, 1, 1), date(2019, 5, 28)))

df_EI.head()

,biomass,coal,demand,gas,hydro,nuclear,solar,wind,dutch,french,irish,pumped_storage
UTC,,,,,,,,,,,,
2009-01-01 00:00:00,0.0,17.650,38.329,11.900,0.246,6.973,0.0,0.148,0.0,1.977,-0.161,-0.404
2009-01-01 00:30:00,0.0,17.770,38.461,12.031,0.245,6.968,0.0,0.157,0.0,1.977,-0.160,-0.527
2009-01-01 01:00:00,0.0,18.070,37.986,11.754,0.246,6.970,0.0,0.147,0.0,1.977,-0.160,-1.018
2009-01-01 01:30:00,0.0,18.022,36.864,11.162,0.246,6.969,0.0,0.148,0.0,1.746,-0.160,-1.269
2009-01-01 02:00:00,0.0,17.998,36.180,10.812,0.246,6.960,0.0,0.160,0.0,1.730,-0.160,-1.566

In [7]:
df_EI.tail()

,biomass,coal,demand,gas,hydro,nuclear,solar,wind,dutch,french,irish,pumped_storage
UTC,,,,,,,,,,,,
2019-05-27 20:30:00,2.378,0.0,28.23487,13.285,0.228,6.268,0.00587,2.446,1.000,1.998,0.366,0.260
2019-05-27 21:00:00,2.391,0.0,27.68715,12.934,0.170,6.258,0.00315,2.373,0.906,1.802,0.316,0.534
2019-05-27 21:30:00,2.370,0.0,26.30700,12.010,0.191,6.265,0.00200,2.457,0.904,1.800,0.308,0.000
2019-05-27 22:00:00,2.387,0.0,24.26800,10.434,0.152,6.254,0.00000,2.091,0.854,1.702,0.318,0.076
2019-05-27 22:30:00,2.374,0.0,23.11000,9.037,0.149,6.259,0.00000,2.229,0.854,1.702,0.474,0.032

In [9]:
df_EI.to_csv('data/EI.csv')